  <div class="col-md-6">
    <h3>Add new family member:</h3>

    <form class="form new-familyspawn">
      <div class="form-group">
        <label for="child-name">Family Member's Name (firstname lastname)</label>
        <input class="form-input" type="text" id="child-name" name="child-name" />
      </div>
      <div class="form-group">
        <label for="father-name">Name of Father (optional)</label>
        <input class="form-input" type="text" id="father-name" name="father-name" />
      </div>
      <div class="form-group">
        <label for="mother-name">Name of Mother (optional)</label>
        <textarea class="form-input" id="mother-name" name="mother-name"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add!</button>
      </div>
    </form>
  </div>


